.mask-custom{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 991px) {
    .navbar-text{
        display:none;
    }
    
}
.navbar-brand{
    display: inline-flex;
    align-items: center;
}

.navbar-brand:hover{
    color: black;
}

.navbar-text{
    font-size: 2.25rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
    margin: 0%;
    text-align: center;
}

#recent {
    text-align: center;
}

.nav-item{
    display:inline-flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#right-side{
    padding-right: 4rem;
}
.nav-link{ 
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
    color: black !important;
    text-align: center !important;
    margin-inline: 2rem;
}

.nav-link:hover{
    color: gold !important;
}


#background-style{
    background-image: url("../REF/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}