body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../REF/Background.jpg");
  background-size: cover, auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(128, 128, 128, 0.45);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin: 0;
  padding: 0;
  display: flex;
  height: 80px;
  overflow: hidden;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.4s;
}

.navbar .icon {
  display: none;
}

.logowrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

.logo {
  display: block;
  height: 100%;
}

.nav-list {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-items {
  display: inline;
  align-items: center;
  justify-content: center;
}

.nav-text {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 0px 20px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.nav-text::after {
  content: "";
  position: absolute;
  width: 0;
  transform: translateX(-50%); /* Center the underline */
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: width 0.3s ease-out; /* Added transition for width */
}

.nav-text:hover {
  background-color: rgba(var(gray), 0.25);
  color: white;
}

.nav-text:hover::after {
  width: 100%;
}

#open-button {
  display: none;
}

@media (max-width: 800px) {
  .navbar .nav-items:not(:first-child) {
    display: none;
  }
  #open-button {
    display: block;
  }
}
.sidebar-nav {
  background-color: rgba(128, 128, 128, 0.45);
  display: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%); /* Move off-screen */
  height: 100vh;
  width: 200px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.6s ease; /* Transition the right property */
}

.sidebar-nav.active {
  transform: translateX(0); /* Move on-screen */
}

.sidebar-nav::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Move the pseudo-element behind the sidebar content */
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.sidebar-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-list .nav-items {
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.sidebar-list .icon {
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: black;
  width: 100%;
  display: flex;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */